body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 50px;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}

.head1{
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  margin-bottom: 2px;
  font-size: 35px;
}

.head2{
  font-weight: 600;
  margin-top: 0;
  color: hsl(234, 12%, 34%);
}

.head3{
  width: 35%;
  margin: auto;


}

.container{
  position: relative;
  border-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-container{
  text-align: left;
  border-style: solid none none none;
  width: 350px;
  height: 250px;
  margin: 20px auto 30px;
  display: inline-block;
  border-top-width: 5px;
  border-top-color: hsl(0, 78%, 62%);
  border-radius: 3%;
  padding-left: 15px;
  box-shadow: 5px 5px 20px #d1d1d1;
  position: relative;
  background-color: white;

}

.left-container{
  text-align: left;
  border-style: solid none none none;
  width: 350px;
  height: 250px;
  border-top-width: 5px;
  border-top-color: hsl(180, 62%, 55%);
  border-radius: 3%;
  position: absolute;
  left: 180px;
  top: 140px;
  padding-left: 15px;
  box-shadow: 5px 5px 20px #d1d1d1;
  background-color: white;

}

.right-container{
  text-align: left;
  border-style: solid none none none;
  width: 350px;
  height: 250px;
  border-top-width: 5px;
  border-top-color: hsl(212, 86%, 64%);
  border-radius: 3%;
  position: absolute;
  right: 180px;
  top: 140px;
  padding-left: 15px;
  box-shadow: 5px 5px 20px #d1d1d1;
  background-color: white;

}

.bottom-container{
  text-align: left;
  border-style: solid none none none;
  width: 350px;
  height: 250px;
  border-top-width: 5px;
  border-top-color: hsl(34, 97%, 64%);
  border-radius: 3%;
  margin: 0 auto;
  padding-left: 15px;
  box-shadow: 5px 5px 20px #d1d1d1;
  position: relative;
  font-weight: 400;
  background-color: white;

}
svg{
  position: absolute;
  right: 20px;
  bottom: 20px;abc

}

p{
  color: hsl(229, 6%, 66%);
}
